// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
    padding: 0.2rem;
}
table {
    font-size: 2.2rem;
    box-shadow: 0px 11px 22px rgba($color: #272522, $alpha: .2);
    padding: 1.4rem;
    border-radius: 4px;
    transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
table:hover {
    background-color: #fff;
    transform: scale(1.1);
}