<h1>Testing</h1>

<hr>

<code>
path:
<strong>(/test) </strong> | <em>Root</em>
</code>

<br>


<main>

{content goes here:}

</main>


<style>

main {
    padding: 3rem;
    font-size: 2rem;
    color: blue;
}

</style>

<div>